<h5 class="mb-3">Customer & Job Details</h5>

<div class="customer-details-block border rounded p-3 mb-4">

  <div class="row g-3">
    <div class="col-6 col-md-3">
      <label for="customers_name" class="form-label">Customer Name</label>
      <input type="text" class="form-control form-control-sm" id="customers_name" name="customers_name">
    </div>
    <div class="col-6 col-md-3">
      <label for="customers_street" class="form-label">Street</label>
      <input type="text" class="form-control form-control-sm" id="customers_street" name="customers_street">
    </div>
    <div class="col-6 col-md-3">
      <label for="customers_postcode" class="form-label">Postcode</label>
      <input type="text" class="form-control form-control-sm" id="customers_postcode" name="customers_postcode">
    </div>
    <div class="col-6 col-md-3">
      <label for="date_of_quote" class="form-label">Date of Quote</label>
      <input type="date" class="form-control form-control-sm" id="date_of_quote" name="date_of_quote">
    </div>

    <div class="col-6 col-md-3">
      <label for="full_days" class="form-label">Full Days</label>
      <input type="number" class="form-control form-control-sm" id="full_days" name="full_days">
    </div>
    <div class="col-6 col-md-3">
      <label for="extra_hours" class="form-label">Extra Hours</label>
      <input type="number" class="form-control form-control-sm" id="extra_hours" name="extra_hours">
    </div>
  </div>
</div>