<h5 class="mb-3">Job Status</h5>

<div class="job-status-block border rounded p-3 mb-4">

  <div class="row">
    <div class="col-6 col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="sent_quote" name="sent_quote">
        <label class="form-check-label" for="sent_quote">Sent Quote</label>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="quote_accepted" name="quote_accepted">
        <label class="form-check-label" for="quote_accepted">Quote Accepted</label>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="date_agreed" name="date_agreed">
        <label class="form-check-label" for="date_agreed">Date Agreed</label>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="job_completed" name="job_completed">
        <label class="form-check-label" for="job_completed">Job Completed</label>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <label for="agreed_date" class="form-label">Agreed Date</label>
      <input type="date" id="agreed_date" name="agreed_date" class="form-control form-control-sm" />
    </div>
  </div>
</div>